.Home_container {
  background-color: #232637;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.Home_content {
  justify-content: center;
  display: flex;
  align-items: center;
}

.Home_info {
  float: left;
  margin-bottom: 11rem;
}

.pfp_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 4rem;
  margin-bottom: 12rem;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
}

.subtitle {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: rgb(251, 251, 251);
}

.description {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 1rem;
  color: rgb(251, 251, 251);
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.description:hover {
  transform: scale(1.1);
}

.Home_socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.Home_email:hover,
.Home_linkedin:hover,
.Home_github:hover,
.Home_spotify:hover,
.Home_medium:hover {
  transform: scale(1.2);
  transform-origin: center center;
}


.social-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.flex {
  display: flex;
}

.justify_center {
  justify-content: center;
}

.space_x_4 {
  gap: 1rem;
}

.text_center {
  text-align: center;
}

.Home_main {
  user-select: none;
}


@media screen and (max-width: 600px) {
  .Home_content {
    flex-direction: column;
    align-items: center;
    }

    .Home_container {
      background-color: #232637;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 90vh; 
    }

  .pfp_circle {
    width: 12rem; 
    height: 12rem; 
    margin-right: 0;
    margin-bottom: 2rem; 
    margin-top: -7rem; 

  }

  .Home_info {
    margin-bottom: 3rem; 
    text-align: center;
  }

  .subtitle {
    font-size: 2.5rem; 
  }

  .description {
    font-size: 1rem; 
  }

  .Home_socials {
    position: relative;
    bottom: unset;
    justify-content: center;
    gap: 1rem;
    margin-top: 0; 
  }

  .Home_email,
  .Home_spotify,
  .Home_linkedin,
  .Home_github,
  .Home_medium {
    width: 3rem;
    height: 3rem;
  }
}